.container {
  display: flex;
  align-items: center;
  width: 35vw;
  height: 155px;
  border-radius: 20px;
  background: #5e9cfa;

  margin-bottom: 44px;
}

.pokemon-img {
  width: 128px;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
}

.pokemon-info__name,
.pokemon-info__description {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pokemon-info__name {
  font-size: 35px;
  margin-bottom: -15px;
  margin-top: 15px;
}

.pokemon-info__description {
  font-size: 25px;
}
