.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}