.error-message {
  font-size: 24px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Цвет фона блока с сообщением */
  color: #495057; /* Цвет текста */
}
